<!DOCTYPE html>
<html>
    <head>
        {{ partial "meta.html" . }}
        <title>{{ .Title }}</title>
        {{ partial "head_includes.html" . }}
    </head>
    <body>
        {{ partial "google_tags.html" . }}
        <div class="wrapper">
            {{ partial "topnav.html" . }}
            <section role='main' class='scroll-container'>
                <div class="row">
                    <div class="small-10 small-offset-1 columns">
                        <h1>{{ .Title }} <small> - {{ dateFormat "January 2, 2006" .Date }}</small></h1>
                    </div>
                </div>
                <div class="row">
                    <div class="small-10 small-offset-1 columns">
                        {{ .Content }}
                    </div>
                </div>
            </section>
        </div>
        <div class="footer tab-bar">
            <div class="row">
                <p class="small-4 small-offset-8 columns">Copyright &copy; 2016</p>
            </div>
        </div>{{ partial "body_script_includes.html" . }}
    </body>
</html>
