
server {
    listen              80;
    server_name         links.jw4.us;

    access_log          /var/log/nginx/links.jw4.us-access.log;
    error_log           /var/log/nginx/links.jw4.us-error.log;

    root                /var/local/storage/build/web/links.jw4.us/public/;

    index               index.html index.htm;
    error_page          404 /404.html;

    location / {
        expires         -1;
        add_header      Pragma          "no-cache";
        add_header      Cache-Control   "no-store, no-cache, must-revalidate, post-check=0, pre-check=0";
        try_files       $uri $uri/ =404;
    }

    location = /apple-touch-icon.png { return 204; access_log off; log_not_found off; }
    location = /apple-touch-icon-precomposed.png { return 204; access_log off; log_not_found off; }
}

